[submodule "pelican-plugins"]
path = pelican-plugins
url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/Flex"]
	path = themes/Flex
	url = https://github.com/aadityachapagain/Flex.git